html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix {
	overflow: auto;
}

#navbar {
	top: 0px;
	width: 90%;
	height: 30px;
	background-color: #fcdd24;
	border-radius: 25px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border: solid #2772b2;
	box-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#navbar .navlist {
	display: inline-block;
}

.navlist {
	margin-left: 10%;
}

ul {
	position: relative;
	top: -8px;
}

#title {
	width: 90%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120px;
	text-align: center;
	margin: auto;
	color: #ff9100;
	font-family: 'Bangers', cursive;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#body {
	background-color: #713697;
}

#main_container {
	position: relative;
	width: 90%;
	height: 4000px;
	margin: auto;
	background-color: #fcdd24;
	border-radius: 25px;
	border: solid #2772b2;
	border-width: thick;
}

#main_left {
	position: absolute;
	left: 0px;
	width: 20%;
	margin-left: 7%;
	margin-right: 0.5%;
	margin-top: 20px;
	background-color: white;
	border-radius: 25px;
	border: solid #ff9100;
	padding: 1%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#main_right {
	position: absolute;
	right: 0px;
	width: 65%;
	margin-left: 0.5%;
	margin-right: 7%;
	margin-top: 20px;
	background-color: white;
	border-radius: 25px;
	border: solid #ff9100;
	padding: 1%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#cloud {
	width: auto;
	height: 200px;
	margin-top: 5px;
	border-radius: 25px;
}

.divider {
	height: 50px;
}

h2 {
	font-family: 'Pacifico', cursive;
	color: #2772b2;
}

.blog_photo {
	width: 150px;
	height: auto;
}

#about_container {
	position: relative;
	top: 20px;
	padding: 20px;
	width: 90%;
	height: 600px;
	text-align: center;
	margin: auto;
	background-color: #fcdd24;
	border-radius: 25px;
	border: solid #2772b2;
	border-width: thick;
	font-family: 'Raleway', sans-serif;
}

#dictator_photo {
	width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#blog_container {
	position: relative;
	top: 20px;
	padding: 20px;
	width: 90%;
	height: 4000px;
	text-align: center;
	margin: auto;
	background-color: #fcdd24;
	border-radius: 25px;
	border: solid #2772b2;
	border-width: thick;
	font-family: 'Raleway', sans-serif;
}

#cloud {
	margin-left: -11px;
}
